
/* RESET */
*{
    margin:o;
    padding:0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* LAYOUT */
.contenitore{ 
    width:80%;
    margin:0 auto;
}

.row{
    max-width: 1800px;
}

.square{
    display:inline-block;
    width:calc((100%/3) - 30px);
    height:50%;
    margin:10px;
    vertical-align: top;
}

.square img{
    width:100%;
}

.testo{
    display:inline-block;
    width:100%;
    margin-top:5px;
    margin-bottom:40px;
    text-align: left;
}

.image-box{
    position:relative;
}

/* HOVER EFFECTS */

/* Hover Images */

.model:hover :last-child{
    display:none;
}

.model :first-child{
    display:none;
}

.model:hover :first-child{
    display:inline-block;
}

/* Hover Likes */

.label-like:hover{
    color:red;
}

/* TEXT DECORATION */


.modello-outfit{
    font-weight:bold;
    font-size:1.2em;
}

.prezzo-scontato{
    font-weight:bold;
    color:red;
}

.prezzo-intero{
    text-decoration:line-through;
}

/* LABELS DECORATION */

.labels{
    color:white;
    font-weight:bold;
    font-size:.7em;
    padding:5px;
    display:inline;
}

.label-sconti{
    width:50px;
    background-color: #ef3763;
}

.label-sostenibilita{
    left:17%;
    width:100px;
    background-color: #4ba586;
}

.label-sostenibilita-2{

    width:100px;
    background-color: #4ba586;
}

.etichette{
    display:inline-block;
    position:absolute;
    bottom:5%; 
}

.label-like{
    position:absolute;
    top:5%;
    right:0;
    width:35px;
    height:35px;
    line-height: 35px;
    background-color:white;
    color:black;
    text-align: center;
}

