
/* RESET */
*{
    margin:o;
    padding:0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* LAYOUT */
.contenitore{ 
    width:80%;
    margin:0 auto;
    /* border: 2px solid blue; */
}

.row{
    max-width: 1800px;
    /* border: 2px solid firebrick; */
    text-align:center;
}

.square{
    display:inline-block;
    width:calc((100%/3) - 30px);
    height:50%;
    margin:10px;
    /* border: 2px solid green; */
    vertical-align: top;
}

.square img{
    width:100%;
}

.testo{
    display:inline-block;
    width:100%;
    margin-top:5px;
    margin-bottom:40px;
    text-align: left;
}

/* FINE LAYOUT */

/* TEXT DECORATION */


.modello-outfit{
    font-weight:bold;
    font-size:1.2em;
}

.prezzo-scontato{
    font-weight:bold;
    color:red;
}

.prezzo-intero{
    text-decoration:line-through;
}